.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.educa-title {
  margin-left: 5rem;
  font-size: 1.5rem;
}

.actions {
  margin-right: 5rem;
}

.actions {
  button {
    background-color: transparent;
    border: none;
    margin: 0 .75rem;
  }

  .login {
    border: 1px solid #000;
    border-radius: 2rem;
    padding: .5rem 1.8rem;
  }
}
